<% provide(:title , "Login")%>
<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
			<div class="login-panel panel panel-default">
				<div class="panel-heading">Log in</div>
                <% flash.each do |message_type, message| %>
                    <div class="alert alert-<%= message_type %>"><%= message %></div>
                <% end %>
				<div class="panel-body">
					 <%= form_for(:session, url: login_path) do |f| %>

                        <%= f.label :email %>
                        <%= f.email_field :email, class: 'form-control' %>

                        <%= f.label :password %>
                        <%= f.password_field :password, class: 'form-control' %>
                        <%= f.label :remember_me, class: "remember-box checkbox inline" do %>
                            <%= f.check_box :remember_me %>
                            <span>Remember me on this computer</span>
                        <% end %>
                        <%= f.submit "Log in", class: "btn btn-primary" %>
                        <% end %>

                        <p >New user? <%= link_to "Sign up now!", signup_path %></p>
				</div>
			</div>
		</div><!-- /.col-->
	</div><!-- /.row -->