<div id="sidebar main-2" class="col-lg-4 col-md-12 col-sm-12">
    <div id="banner">
        <div class="banner-item">
            <a href="#"><%= image_tag "banner-1.png" , class: ""  %></a>
        </div>
        <div class="banner-item">
            <a href="#"><%= image_tag "banner-2.png" , class: ""  %></a>
        </div>
        <div class="banner-item">
            <a href="#"><%= image_tag "banner-3.png" , class: ""  %></a>
        </div>
        <div class="banner-item">
            <a href="#"><%= image_tag "banner-4.png" , class: ""  %></a>
        </div>
        <div class="banner-item">
            <a href="#"><%= image_tag "banner-5.png" , class: ""  %></a>
        </div>
        <div class="banner-item">
            <a href="#"><%= image_tag "banner-6.png" , class: ""  %></a>
        </div>
    </div>
</div>